{% if environment == "development" %}
  <script type="module" src="http://localhost:3000/@vite/client"></script>
  <script type="module" src="http://localhost:3000/scripts/main.js"></script>
{% else %}
  <link rel="stylesheet" href="/assets/css/main.css">
  <script type="module" src="/assets/js/main.js"></script>
{% endif %}